.ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 26px 15px;
}

.li {
  display: flex;
  flex-direction: row;
}

.data,
.data-right,
.data-left {
  border: 3px solid #ccc;
  padding: 5px;
}

.data-null {
  visibility: hidden;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#line {
  stroke-width: 2px;
  stroke: black;
}
